<!DOCTYPE html>
<html>
  <head>
    <title>Shreya's Height-Weight-Gender Classifier</title>    
    <strong><link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"></strong>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
  </head>
  <body>
   
    <header>
      <div class="container">
      </div>
    </header> 
     
    <div class="container">
      {% block content %}
      {% endblock %}
    </div>
     
  </body>
</html>